<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slide">
        <div class="text">
          <h1 class="title">
            {{ 'ABOUT.header' | translate }}
          </h1>
          <div class="desc">
              {{ 'ABOUT.description1' | translate }}
              <br/><br/>
              {{ 'ABOUT.description2' | translate }}
              <br><br/>
              {{ 'ABOUT.description3' | translate }} 
          </div>
        </div>
        <div class="media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kzgNJzy9CmU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <!-- <img style="width:340px;height:240px;" src="./assets/icons/ab_1.png" alt="Italian Trulli"> -->
          </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slide">
        <div class="text">
          <h1 class="title">
            {{ 'ABOUT.vh1' | translate }}
          </h1>
          <div class="desc">
              {{ 'ABOUT.vd1-1' | translate }}
              <br>
              <br>
              {{ 'ABOUT.vd1-2' | translate }}
              <br>
              <br>
              {{ 'ABOUT.vd1-3' | translate }} 
          </div>
        </div>
        <div class="media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YI2abFsL1B4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            <!-- <img style="width:340px;height:auto;" src="./assets/icons/ab_2.png" alt="Italian Trulli"> -->
          </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slide">
          <div class="text">
            <h1 class="title">
              {{ 'ABOUT.vh2' | translate }}
            </h1>
            <div class="desc">
                {{ 'ABOUT.vd2-1' | translate }}
                <br>
                <br>
                {{ 'ABOUT.vd2-2' | translate }}
                <br>
                <br>
                {{ 'ABOUT.vd2-3' | translate }} 
            </div>
          </div>
          <div class="media">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/C2T_dxN5atY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
              <!-- <img style="width:340px;height:auto" src="./assets/icons/ab_3.png" alt="Italian Trulli"> -->
            </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="slide">
          <div class="text">
            <h1 class="title">
              {{ 'ABOUT.vh3' | translate }}
            </h1>
            <div class="desc">
                {{ 'ABOUT.vd3-1' | translate }}
                <br>
                <br>
                {{ 'ABOUT.vd3-2' | translate }}
                <br>
                <br>
                {{ 'ABOUT.vd3-3' | translate }} 
            </div>
          </div>
          <div class="media">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/d2oqSOudw5E" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
              <!-- <img style="width:340px;height:auto;" src="./assets/icons/ab_4.png" alt="Italian Trulli"> -->
            </div>
        </div>
      </ng-template>
        <ng-template ngbSlide>
        <div class="slide">
          <div class="text">
            <h1 class="title">
              {{ 'ABOUT.vh4' | translate }}
            </h1>
            <div class="desc">
                {{ 'ABOUT.vd4-1' | translate }}
                <br>
                <br>
                {{ 'ABOUT.vd4-2' | translate }}
                <br>
                <br>
                {{ 'ABOUT.vd4-3' | translate }} 
            </div>
          </div>
          <div class="media">
              <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/QAvoMQqaPF0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
              <img style="width:560px;height:315px;" src="./assets/icons/ab_5.png" alt="Italian Trulli">
            </div>
        </div>
      </ng-template>
  </ngb-carousel>
</div>
