<div class="container-fluid">
  <div class="row">
    <div class="col generation-section">
      <h1>{{ "GENERATION.header" | translate }}</h1>
      <p>{{ "GENERATION.summary" | translate }}</p>
      <div class="more-text" *ngIf="showMore">
        <div class="content">
          <table>
            <tr>
              <td class="label">
                {{ "GENERATION.details-name-label" | translate }}
              </td>
              <td>{{ "GENERATION.details-name-content" | translate }}</td>
            </tr>

            <tr>
              <td class="label">
                {{ "GENERATION.details-tokenName-label" | translate }}
              </td>
              <td>{{ "GENERATION.details-tokenName-content" | translate }}</td>
            </tr>

            <tr>
              <td class="label">
                {{ "GENERATION.details-totalSupply-label" | translate }}
              </td>
              <td>
                {{ "GENERATION.details-totalSupply-content" | translate }}
              </td>
            </tr>

            <tr>
              <td class="label">
                {{ "GENERATION.details-tokenSales-label" | translate }}
              </td>
              <td>{{ "GENERATION.details-tokenSales-content" | translate }}</td>
            </tr>

            <tr>
              <td class="label">
                {{ "GENERATION.details-decimals-label" | translate }}
              </td>
              <td>{{ "GENERATION.details-decimals-content" | translate }}</td>
            </tr>

            <tr>
              <td class="label">
                {{ "GENERATION.details-value-label" | translate }}
              </td>
              <td>{{ "GENERATION.details-value-content" | translate }}</td>
            </tr>

            <tr>
              <td class="label-wallet-value">
                {{ "GENERATION.details-token-label" | translate }}
              </td>
              <td class="label-wallet-chunks">
                {{
                  "GENERATION.details-token-address-frist-chunk" | translate
                }}
                <a class="label-wallet-masked-chunks">{{
                  "GENERATION.details-token-address-masked-chunk" | translate
                }}</a>
                <a class="label-wallet-chunks">{{
                  "GENERATION.details-token-address-second-chunk" | translate
                }}</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-investment-address" | translate }}</a>
        </div>
        <div>
          <a>{{ "GENERATION.details-investment-address-value" | translate }}</a>
        </div>
        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-eth" | translate }}</a>
        </div>
        <div class="break-through">
          <a> {{ "GENERATION.details-eth-value" | translate }} </a>
        </div>
        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-bitcoin" | translate }}</a>
        </div>
        <div class="break-through">
          <a>{{ "GENERATION.details-bitcoin-value" | translate }}</a>
        </div>
        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-usd" | translate }}</a>
        </div>
        <a>{{ "GENERATION.details-usd-value" | translate }}</a>
        <table>
          <tr>
            <td class="label-wallet-chunks">
              {{ "GENERATION.details-account-no" | translate }}:{{
                "GENERATION.details-account-no-value" | translate
              }}
            </td>
          </tr>
        </table>

        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-GIRO-FAST" | translate }}</a>
        </div>
        <table>
          <tr>
            <td>
              {{ "GENERATION.details-swift-bci-code" | translate }}:{{
                "GENERATION.details-bci-code-value1" | translate
              }}
            </td>
          </tr>
        </table>

        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-meps-telegraphic" | translate }}</a>
        </div>
        <table>
          <tr>
            <td>
              {{ "GENERATION.details-swift-bci-code" | translate }}:{{
                "GENERATION.details-bci-code-value2" | translate
              }}
            </td>
          </tr>
        </table>

        <div class="label-wallet-chunks">
          <a>{{ "GENERATION.details-rmb" | translate }}</a>
        </div>
        <table>
          <tr>
            {{
              "GENERATION.details-chi1" | translate
            }}:{{
              "GENERATION.details-chi1-value" | translate
            }}
          </tr>
          <tr>
            {{
              "GENERATION.details-chi2" | translate
            }}:{{
              "GENERATION.details-chi2-value" | translate
            }}
          </tr>
          <tr>
            {{
              "GENERATION.details-chi3" | translate
            }}:{{
              "GENERATION.details-chi3-value" | translate
            }}
          </tr>
        </table>

        <div>{{ "GENERATION.details-last" | translate }}</div>
        <p>
          <strong
            >{{ "GENERATION.note-1" | translate
            }}{{ "GENERATION.note-emp" | translate }}</strong
          ><a href="{{ 'GENERATION.note-3' | translate }}">{{
            "GENERATION.note-3" | translate
          }}</a>
        </p>
        <p>
          {{ "GENERATION.foot-1" | translate
          }}<strong>{{ "GENERATION.foot-emp" | translate }}</strong
          >{{ "GENERATION.foot-3" | translate }}
        </p>
      </div>
      <button class="btn mroe-btn" (click)="toggleShowMore()">
        {{ showMoreLabel }}
      </button>
    </div>
  </div>
</div>
